<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <div class="logo">
      <img src="assets/images/SMS.jpg" width="50px" height="50px">
    </div>
    <div class="tabs">
      <div class="tab-text">ABOUT</div>
      <div class="tab-text">WORK</div>
      <div class="tab-text">CONTACT</div>
    </div>
  </div>
  <div class="title">
    <div class="title-text">STEFANI SANCHEZ</div>
  </div>
  <div class="sub-title">
    <div class="sub-text">- FRONT-END DEVELOPER -</div>
  </div>
  <div class="about-title">
    <div class="section-text">About<br>_______</div>
    <!-- <img src="assets/images/bracket.jpg" width="35px" height="35px"> -->
  </div>
  <div class="about-description">
    <div class="description-text">
    Hello! I'm Stefani, a senior at the University of Washington studying Informatics and
    Speech and Hearing Sciences. With my background in Speech and Hearing Sciences and UX, I
    am passionate about designing and developing responsive and compatible websites that
    are available for people of all abilities to use.
    <br><br>
    I currently work as a Software Engineer Intern at OMNI ePartners where I get to
    work on a variety of projects involving eCommerce and brand management.
    Here are a few things I am experienced with:
    </div>
  </div>
  <div class="skills">
    <div class="description-text">- JavaScript</div>
    <div class="description-text">- Java</div>
    <div class="description-text">- HTML</div>
    <div class="description-text">- Angular</div>
    <div class="description-text">- CSS</div>
    <div class="description-text">- React</div>
    <div class="description-text">- Typescript</div>
    <div class="description-text">- SQL</div>
  </div>
  <div class="profile">
    <img src="assets/images/Profile.jpg" width="300px" height="300px">
  </div>
  <div class="work-title">
    <div class="section-text">Recent Work<br>_____________</div>
  </div>
  <div class="project-one">
    <div class="project-one-title">
      <div class="section-text">Omni Platform<br>_______________</div>
    </div>
    <div class="project-one-image">
      <img src="assets/images/Omni_Screen.jpg" width="505px" height="300px">
    </div>
    <div class="project-one-description">
      <div class="description-text">
        An eCommerce performance analytics platform for Omni ePartners, a business
        management consultant company. Associated brands and brand managers can
        view the sales and performance analytics of their brands which includes
        Amazon sales & share analytics, digital shelf analytics, and access expert
        analysis & recommendations.
      </div>
      <div class="project-one-scope">
        <div class="skills-text">- ANGULAR - JAVASCRIPT - TYPESCRIPT - HTML - CSS -</div>
      </div>
    </div>
  </div>
  <div class="project-two">
    <div class="project-two-title">
      <div class="section-text">Restaraunt Manager<br>_____________________</div>
    </div>
    <div class="project-two-image">
      <img src="assets/images/Restaraunt_Manager.jpg" width="505px" height="300px">
    </div>
    <div class="project-two-description">
      <div class="description-text">
        A web app that uses Yelp's API to help users keep track of money spent at
        restaraunts, provide restaraunt suggestions, and perform a budget analysis.
        In addition, the Restaraunt Manager app provides a summary of total money
        spent at restaraunts, pinpoints the location for each restaraunt inputted, and
        displays the Yelp review information for each restaraunt. <br><br>
      </div>
      <div class="project-two-scope">
        <div class="skills-text">- REACT - REACT ROUTER - JAVASCRIPT - HTML - CSS -</div>
      </div>
    </div>
  </div>
  <div class="project-three">
    <div class="project-three-title">
      <div class="section-text">Spring OS<br>__________</div>
    </div>
    <div class="project-three-image">
      <img src="assets/images/Spring.jpg" width="505px" height="300px">
    </div>
    <div class="project-three-description">
      <div class="description-text">
        An OS that meets the educational and entertainment needs of children and
        promises remote parental supervision to create a safe yet inviting
        educational environment. Spring OS is designed for tablets and provides
        users with immediate feedback, theme & characterization, comprehensive
        parental control, and education via entertainment.
      </div>
      <div class="project-three-scope">
        <div class="skills-text">- SKETCH - FIGMA - PHOTOSHOP - USER RESEARCH -</div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="contact-title">
      <div class="section-text">Contact<br>________</div>
    </div>
    <div class="contact-description">
      <div class="description-text">
        I am currently looking for full time jobs in web development, specifically in
        front end development. Contact me at: sanch397@uw.edu.
      </div>
    </div>
  </div>
<div>
<router-outlet></router-outlet>
