<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <div class="logo">
      <img src="assets/images/SMS.jpg" width="50px" height="50px">
    </div>
    <div class="tabs">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="title">
    <div class="title-text">STEFANI SANCHEZ</div>
  </div>
  <div class="sub-title">
    <div class="sub-text">- SOFTWARE ENGINEER -</div>
  </div>
  <div class="about-title" id="about">
    <div class="section-text">About<br><hr></div>
  </div>
  <div class="about-description">
    <div class="description-text" >
    Hello! I'm Stefani, a Software Engineer experienced in front-end development, design,
    and object-oriented programming. I am passionate about designing and developing
    responsive and compatible websites that are available for people of all abilities
    to use.
    <br><br>
    I currently work as a Software Engineer Intern at OMNI ePartners where I get to
    work on a variety of projects involving eCommerce and brand management.
    Here are a few things I am experienced with:
    </div>
  </div>
  <div class="skills">
    <div class="skills-text">- JAVASCRIPT</div>
    <div class="skills-text">- JAVA</div>
    <div class="skills-text">- HTML</div>
    <div class="skills-text">- ANGULAR</div>
    <div class="skills-text">- CSS</div>
    <div class="skills-text">- REACT</div>
    <div class="skills-text">- TYPESCRIPT</div>
    <div class="skills-text">- SQL</div>
  </div>
  <div class="profile">
    <img src="assets/images/Profile.jpg" width="300px" height="300px">
  </div>
  <div class="work-title" id="work">
    <div class="section-text">Work<br><hr></div>
  </div>
  <div class="project-one">
    <div class="project-one-title">
      <div class="project-text">Omni Platform<br><hr></div>
    </div>
    <div class="project-one-image">
      <img src="assets/images/Omni_Screen.jpg" width="565px" height="300px">
    </div>
    <div class="project-one-description">
      <div class="description-text">
        An eCommerce performance analytics platform for Omni ePartners, a business
        management consultant company. Associated brands and brand managers can
        view the sales and performance analytics of their brands which includes
        Amazon sales & share analytics, digital shelf analytics, and expert
        analysis & recommendations.
      </div>
      <div class="project-one-scope">
        <div class="skills-text">- ANGULAR</div>
        <div class="skills-text">- JAVASCRIPT</div>
        <div class="skills-text">- TYPESCRIPT</div>
        <div class="skills-text">- HTML</div>
        <div class="skills-text">- CSS</div>
      </div>
    </div>
  </div>
  <div class="project-two">
    <div class="project-two-title">
      <div class="project-text">Restaraunt Manager<hr></div>
    </div>
    <div class="project-two-image">
      <img src="assets/images/Restaraunt_Manager.jpg">
    </div>
    <div class="project-two-description">
      <div class="description-text">
        A web app that uses Yelp's API to help users keep track of money spent at
        restaraunts, provide restaraunt suggestions, and perform a budget analysis.
        In addition, the Restaraunt Manager app provides a summary of total money
        spent at restaraunts, pinpoints the location for each restaraunt inputted, and
        displays the Yelp review information for each restaraunt. <br><br>
      </div>
      <div class="project-two-scope">
        <div class="skills-text">- REACT</div>
        <div class="skills-text">- REACT ROUTER</div>
        <div class="skills-text">- JAVASCRIPT</div>
        <div class="skills-text">- HTML</div>
        <div class="skills-text">- CSS</div>
      </div>
    </div>
  </div>
  <div class="project-three">
    <div class="project-three-title">
      <div class="project-text">Spring OS<hr></div>
    </div>
    <div class="project-three-image">
      <img src="assets/images/Spring.jpg">
    </div>
    <div class="project-three-description">
      <div class="description-text">
        An OS that meets the educational and entertainment needs of children and
        promises remote parental supervision to create a safe yet inviting
        educational environment. Spring OS is designed for tablets and provides
        users with immediate feedback, theme & characterization, comprehensive
        parental control, and education via entertainment.
      </div>
      <div class="project-three-scope">
        <div class="skills-text">- SKETCH</div>
        <div class="skills-text">- FIGMA</div>
        <div class="skills-text">- PHOTOSHOP</div>
        <div class="skills-text">- USER RESEARCH</div>
      </div>
    </div>
  </div>
  <div class="contact" id="contact">
    <div class="contact-title">
      <div class="section-text">Contact<hr></div>
    </div>
    <div class="contact-description">
      <div class="description-text">
        I will be graduating from UW in Spring 2019 with a B.S. in Informatics
        and Speech and Hearing Sciences. I am currently looking for full time jobs
        in front end development.
      </div>
    </div>
    <div class="contact-box">
      <button onclick="location.href='mailto:sanch397@uw.edu';">Email me</button>
      <a href="https://github.com/sanch397"><img src="assets/images/github-logo-1.png"></a>
    </div>
  </div>
<div>
<router-outlet></router-outlet>
